name: xyz_prototype
description: A new Flutter project.

# The following line prevents the package from being accidentally pubblished to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  xyz_ui:
    path: ../xyz_ui
  animations: ^2.0.1
  auth_buttons: ^1.0.1+4
  cached_network_image: ^3.1.0
  carousel_images: ^1.1.2
  cloud_firestore: ^2.3.0
  collection: ^1.15.0
  colorful_safe_area: ^0.3.0
  cupertino_icons: ^1.0.2
  firebase_auth: ^1.0.1
  firebase_core: ^1.3.0
  firebase_database: ^7.1.2
  firebase_storage: ^10.0.1
  font_awesome_flutter: ^9.1.0
  freezed_annotation: ^0.14.2
  image_cropper: ^1.4.1
  image_picker: ^0.8.2
  json_annotation: ^4.0.1
  lint: ^1.5.3
  mockito: ^5.0.11
  places_service: ^0.1.0+2
  provider: ^5.0.0
  sliding_up_panel: ^2.0.0+1
  sliver_tools: ^0.2.5
  stacked: ^2.2.2
  stacked_firebase_auth: ^0.2.5
  stacked_services: ^0.8.10
  transparent_image: ^2.0.0
  expandable_page_view: ^1.0.6
  smooth_page_indicator: ^0.3.0-nullsafety.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.0.6
  freezed: ^0.14.2
  json_serializable: ^4.1.3
  stacked_generator: ^0.5.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    #   - images/a_dot_ham.jpeg
    # An image asset can refer to one or more resolution-specific "variants", see
    # https://flutter.dev/assets-and-images/#resolution-aware.
    # For details regarding adding assets from package dependencies, see
    # https://flutter.dev/assets-and-images/#from-packages
    # To add custom fonts to your application, add a fonts section here,
    # in this "flutter" section. Each entry in this list should have a
    # "family" key with the font family name, and a "fonts" key with a
    # list giving the asset and other descriptors for the font. For
    # example:
    # fonts:
    #   - family: Schyler
    #     fonts:
    #       - asset: fonts/Schyler-Regular.ttf
    #       - asset: fonts/Schyler-Italic.ttf
    #         style: italic
    #   - family: Trajan Pro
    #     fonts:
    #       - asset: fonts/TrajanPro.ttf
    #       - asset: fonts/TrajanPro_Bold.ttf
    #         weight: 700
    #
    # For details regarding fonts from package dependencies,
    # see https://flutter.dev/custom-fonts/#from-packages
